.headercontainer {
  height:450px;
  width: 100%;
  background-color: #d99f47;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13%;
}

/* Responsive design for tablets */
@media screen and (min-width: 880px){

  .headercontainer {
    margin-right: 5em;
    margin-left: 1.5em;
    margin-top: 200px;
  }
}